fastapi
uvicorn
pydantic
pydantic[email]
pydantic-settings
sqlalchemy
psycopg2-binary
python-jose  # For JWT handling
passlib[bcrypt]  # For password hashing
openai
transformers
transformers[torch]
transformers[flax]
Ollama
